<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta property="og:title" content="enjoyacu">
  <meta property="og:description" content="Front-end Developer">
  <meta property="og:image" content="http://pha1155.cafe24.com/portfolio//static/imgs/bg_kakao.jpg">
  <title>enjoyacu</title>
  <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/font/font.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/modernizr-custom.js"></script>
  <script src="/static/js/script.js"></script>
</head>
<body>
  <div id="wrap">
    <header id="header">
      <div class="full_container">
        <div class="inner_container clearfix">
          <h1 class="logo"><a href="#home">enjoyacu</a></h1>
          <div class="m_gnb">
            <i class="first"></i>
            <i class="second"></i>
            <i class="third"></i>
          </div>
          <nav class="gnb_wrap">
            <h2 class="ir">주요메뉴</h2>
            <ul class="gnb clearfix">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">What is Acupuncture?</a></li>
              <li><a href="#contact">Service</a></li>
              <li><a href="#contact">Location</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="container">
      <section id="home" class="first">
        <h2 class="ir">메인화면</h2>
        <div class="visual_title">
          <div class="move_text">
            <span class="txt-rotate" data-period="2000" data-rotate='[ "enjoyacu" ]'></span>
          </div>
          <p>Acupuncture P.C.</p>
        </div>
        <a class="btn_scroll" href="#about"></a>
      </section>
      <section id="about">
        <div class="inner_container">
          <div class="title_wrap">
            <h2 class="title">About</h2>
          </div>
          <div class="profile_wrap clearfix">
            <div class="profile_info">
              <div class="profile clearfix">
                <img class="profile_img" src="/static/imgs/about_profile.jpg" alt="증명사진">              
                <ul class="personal_info">
                  <li class="name">David Solomon Kim, LAc</li>
                </ul>
              </div>
            </div>

            <div class="skill">
              <ul class="skill_dsc">
                <li>David is a New York State licensed acupuncturist, specializing in musculoskeletal disorders treatments. Musculoskeletal disorders or MSDs are injuries and disorders that affect the human body’s movement or musculoskeletal system. Common MSDs include but not limited to Carpal Tunnel Syndrome, Tendonitis, Muscle/Tendon strain, and Back & Neck pain.

                  David works with many physicians to help patients with post-surgery rehabilitations and recovery of variety of muscle pains.
                  
                  David’s goal is to help patients become pain-free and enjoy their lives by using the holistic healing system of Oriental Medicine.
                </li> 
              </ul>
            </div>

            <div class="education">
              <h3>Education</h3>
              <ul class="edu_list clearfix">
                <li>Master’s degree in Traditional Oriental Medicine from New York College of Traditional Chinese Medicine (NYCTCM) Mineola NY.</li>
                <li>Bachelor’s degree from Stony Brook University, Stony Brook NY.</li> 
                <li>
                  <p>Career</p>
                  <p>Enjoy Acupuncture PC, New York (Since 2019) – President
                    BQB Acupuncture PC, Queens, NY – President</p>
                </li>
                <li class="last">
                  <p>Credentials</p>
                  <p>NYS licensed acupuncturist</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="portfolio">
        <div class="inner_container">
          <div class="title_wrap">
            <h2 class="title">What is Acupuncture?</h2>
          </div>
          <div class="pf_list clearfix">
            <img class="pf_img" src="/static/imgs/acupuctureimg.jpg" alt="acupuncture">
            <div class="pf_info">
              <span class="pf_num">01</span>
              <ul class="pf_list">
                <li>Acupuncture is a complementary medical practice that entails stimulating 
                  certain points on the body, most often with a needle penetrating the skin, 
                  to alleviate pain or to help treat various health conditions. 

                  Developed millennia ago in China, numerous recent studies conducted 
                  by scientists in Europe and the United States have found that acupuncture 
                  is at least moderately effective in treating pain and nausea. 
                  
                  For example, one of the largest studies to date on acupuncture 
                  and chronic pain — a meta-analysis of 29 well-conducted studies 
                  involving nearly 18,000 patients and published in October 2012 in 
                  the Archives of Internal Medicine — found that acupuncture is effective 
                  for treating chronic pain and therefore is a reasonable referral option. 
                  The doctors wrote that "[s]ignificant differences between true and sham 
                  acupuncture indicate that acupuncture is more than a placebo" but added that
                   "these differences are relatively modest." 
                 </li>
              </ul>
            </div>
          </div>
          <div class="pf_list clearfix">
            <img class="pf_img" src="/static/imgs/pf_02.png" alt="랜딩페이지">
            <div class="pf_info">
              <span class="pf_num">02</span>
              <h3 class="pf_name">포트폴리오 랜딩페이지 구축</h3>
              <p class="pf_dsc">포트폴리오를 소개하는 원페이지 long scroll형 사이트입니다.</p>
              <ul class="pf_list">
                <li>2018.06 - 2018.07</li>
                <li>웹 표준, 웹 접근성, 반응형 웹</li>
                <li>HTML/CSS/Javascript</li>
                <li>기획/디자인/개발 참여도 100%</li>
              </ul>
              <a class="btn_view" href="http://pha1155.cafe24.com/portfolio">View</a>
            </div>
          </div>
          <div class="pf_list clearfix last">
            <img class="pf_img" src="/static/imgs/pf_03.png" alt="무민샵사이트">
            <div class="pf_info">
              <span class="pf_num">03</span>
              <h3 class="pf_name">무민샵 웹사이트 리뉴얼(포트폴리오용)</h3>
              <p class="pf_dsc">SCSS 사용하여 개발한 웹사이트입니다.</p>
              <ul class="pf_list">
                <li>2018.09 - 2018.09</li>
                <li>웹 표준, 웹 접근성, 반응형 웹, SCSS</li>
                <li>HTML/CSS/Javascript</li>
                <li>기획/디자인/개발 참여도 100%</li>
              </ul>
              <a class="btn_view" href="http://pha1155.cafe24.com/moomin" target="_blank">View</a>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="inner_container">
          <div class="title_wrap">
            <h2 class="title">Contact Us</h2>
          </div>
          <div class="pf_list clearfix last">
          <img class="pf_img" src="/static/imgs/location.png" alt="location">
          <p class="contactloca">120 E 56TH ST STE330B NEW YORK NY 10022</p>
          <p class="contacttxt">516.884.8182</p>
          <p class="contacttxt">enjoyacu@gmail.com</p>
          <p class="contacttxt">Business hours</br>
            Monday: 10:00 am – 8:00 pm</br>
            Tuesday: 10:00 am – 8:00 pm</br>
            Wednesday: 10:00 am – 8:00 pm</br>
            Thursday: 10:00 am – 8:00 pm</br>
            Friday: 10:00 am – 8:00 pm</p>
         </div>
      </div>
      </section>
    </div>
    <div class="top_btn_wrap">
      <a href="#" class="top_btn ir_2">UP</a>
    </div>
    <footer id="footer">
      <div class="inner_container">
        <p> {{ Get_common_info_list.name  }} </p>
      </div>
    </footer>
  </div>
</body>
</html>